html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: rem($font-size);
}

// normalize box-sizing value for all elements
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// normalize links
a {
  text-decoration: none;
}

// normalize form elements
input, textarea, button, select {
  outline: none;
}

input[type=submit], button {
  cursor: pointer;
}