.getRandomNumber,
.newGame {
  font-size: 28px;
}

.currentNumber {
  display: block;
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #c0392b;
  text-align: center;
  line-height: 150px;
  font-weight: 600;
  font-size: 68px;
  color: #ecf0f1;
  @include box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.1));
  @include border-radius(9999px);

  &.start {
    width: 100%;
    height: auto;
    background: transparent;
    color: #c0392b;
    @include box-shadow(none);
  }
}

.allNumbers {
  text-align: center;

  span {
    display: inline-block;
    margin: 0 15px 15px 0;
    width: 50px;
    height: 50px;
    background: #ecf0f1;
    line-height: 50px;
    font-size: 28px;
    color: #34495e;
    @include box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.1));
    @include border-radius(9999px);

    &:last-child {
      margin-right: 0;
    }
  }
}