/***********************
* Margins and paddings *
************************/

// margin
.m0 {
  margin: 0 !important;
}

.m5 {
  margin: rem(5) !important;
}

.m10 {
  margin: rem(10) !important;
}

.m15 {
  margin: rem(15) !important;
}

.m20 {
  margin: rem(20) !important;
}

.m25 {
  margin: rem(25) !important;
}

.m30 {
  margin: rem(30) !important;
}

// margin-right
.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: rem(5) !important;
}

.mr10 {
  margin-right: rem(10) !important;
}

.mr15 {
  margin-right: rem(15) !important;
}

.mr20 {
  margin-right: rem(20) !important;
}

.mr25 {
  margin-right: rem(25) !important;
}

.mr30 {
  margin-right: rem(30) !important;
}

// margin-bottom
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: rem(5) !important;
}

.mb10 {
  margin-bottom: rem(10) !important;
}

.mb15 {
  margin-bottom: rem(15) !important;
}

.mb20 {
  margin-bottom: rem(20) !important;
}

.mb25 {
  margin-bottom: rem(25) !important;
}

.mb30 {
  margin-bottom: rem(30) !important;
}

// margin-left
.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: rem(5) !important;
}

.ml10 {
  margin-left: rem(10) !important;
}

.ml15 {
  margin-left: rem(15) !important;
}

.ml20 {
  margin-left: rem(20) !important;
}

.ml25 {
  margin-left: rem(25) !important;
}

.ml30 {
  margin-left: rem(30) !important;
}

// margin-top
.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: rem(5) !important;
}

.mt10 {
  margin-top: rem(10) !important;
}

.mt15 {
  margin-top: rem(15) !important;
}

.mt20 {
  margin-top: rem(20) !important;
}

.mt25 {
  margin-top: rem(25) !important;
}

.mt30 {
  margin-top: rem(30) !important;
}

// padding
.p0 {
  padding: 0 !important;
}

.p5 {
  padding: rem(5) !important;
}

.p10 {
  padding: rem(10) !important;
}

.p15 {
  padding: rem(15) !important;
}

.p20 {
  padding: rem(20) !important;
}

.p25 {
  padding: rem(25) !important;
}

.p30 {
  padding: rem(30) !important;
}

// padding-right
.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: rem(5) !important;
}

.pr10 {
  padding-right: rem(10) !important;
}

.pr15 {
  padding-right: rem(15) !important;
}

.pr20 {
  padding-right: rem(20) !important;
}

.pr25 {
  padding-right: rem(25) !important;
}

.pr30 {
  padding-right: rem(30) !important;
}

// padding-bottom
.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: rem(5) !important;
}

.pb10 {
  padding-bottom: rem(10) !important;
}

.pb15 {
  padding-bottom: rem(15) !important;
}

.pb20 {
  padding-bottom: rem(20) !important;
}

.pb25 {
  padding-bottom: rem(25) !important;
}

.pb30 {
  padding-bottom: rem(30) !important;
}

// padding-left
.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: rem(5) !important;
}

.pl10 {
  padding-left: rem(10) !important;
}

.pl15 {
  padding-left: rem(15) !important;
}

.pl20 {
  padding-left: rem(20) !important;
}

.pl25 {
  padding-left: rem(25) !important;
}

.pl30 {
  padding-left: rem(30) !important;
}

// padding-top
.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: rem(5) !important;
}

.pt10 {
  padding-top: rem(10) !important;
}

.pt15 {
  padding-top: rem(15) !important;
}

.pt20 {
  padding-top: rem(20) !important;
}

.pt25 {
  padding-top: rem(25) !important;
}

.pt30 {
  padding-top: rem(30) !important;
}

/********
* Fonts *
*********/

// font weights
.fw100 {
  font-weight: 100 !important;
}

.fw200 {
  font-weight: 200 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

// font sizes
.fs10 {
  font-size: rem(10) !important;
}

.fs11 {
  font-size: rem(11) !important;
}

.fs12 {
  font-size: rem(12) !important;
}

.fs13 {
  font-size: rem(13) !important;
}

.fs14 {
  font-size: rem(14) !important;
}

.fs15 {
  font-size: rem(15) !important;
}

.fs16 {
  font-size: rem(16) !important;
}

.fs17 {
  font-size: rem(17) !important;
}

.fs18 {
  font-size: rem(18) !important;
}

.fs19 {
  font-size: rem(19) !important;
}

.fs20 {
  font-size: rem(20) !important;
}

.fs21 {
  font-size: rem(21) !important;
}

.fs22 {
  font-size: rem(22) !important;
}

.fs23 {
  font-size: rem(23) !important;
}

.fs24 {
  font-size: rem(24) !important;
}

.fs25 {
  font-size: rem(25) !important;
}

.fs26 {
  font-size: rem(26) !important;
}

.fs27 {
  font-size: rem(27) !important;
}

.fs28 {
  font-size: rem(28) !important;
}

.fs29 {
  font-size: rem(29) !important;
}

.fs30 {
  font-size: rem(30) !important;
}

.fs31 {
  font-size: rem(31) !important;
}

.fs32 {
  font-size: rem(32) !important;
}

.fs33 {
  font-size: rem(33) !important;
}

.fs34 {
  font-size: rem(34) !important;
}

.fs35 {
  font-size: rem(35) !important;
}

.fs36 {
  font-size: rem(36) !important;
}
 
.fs37 {
  font-size: rem(37) !important;
}

.fs38 {
  font-size: rem(38) !important;
}

.fs39 {
  font-size: rem(39) !important;
}

.fs40 {
  font-size: rem(40) !important;
}