/* line 5, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
}

/* line 10, ../sass/_base.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/_base.scss */
input, textarea, button, select {
  outline: none;
}

/* line 26, ../sass/_base.scss */
input[type=submit], button {
  cursor: pointer;
}

/***********************
* Margins and paddings *
************************/
/* line 6, ../sass/_utils.scss */
.m0 {
  margin: 0 !important;
}

/* line 10, ../sass/_utils.scss */
.m5 {
  margin: 0.3125rem !important;
}

/* line 14, ../sass/_utils.scss */
.m10 {
  margin: 0.625rem !important;
}

/* line 18, ../sass/_utils.scss */
.m15 {
  margin: 0.9375rem !important;
}

/* line 22, ../sass/_utils.scss */
.m20 {
  margin: 1.25rem !important;
}

/* line 26, ../sass/_utils.scss */
.m25 {
  margin: 1.5625rem !important;
}

/* line 30, ../sass/_utils.scss */
.m30 {
  margin: 1.875rem !important;
}

/* line 35, ../sass/_utils.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 39, ../sass/_utils.scss */
.mr5 {
  margin-right: 0.3125rem !important;
}

/* line 43, ../sass/_utils.scss */
.mr10 {
  margin-right: 0.625rem !important;
}

/* line 47, ../sass/_utils.scss */
.mr15 {
  margin-right: 0.9375rem !important;
}

/* line 51, ../sass/_utils.scss */
.mr20 {
  margin-right: 1.25rem !important;
}

/* line 55, ../sass/_utils.scss */
.mr25 {
  margin-right: 1.5625rem !important;
}

/* line 59, ../sass/_utils.scss */
.mr30 {
  margin-right: 1.875rem !important;
}

/* line 64, ../sass/_utils.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 68, ../sass/_utils.scss */
.mb5 {
  margin-bottom: 0.3125rem !important;
}

/* line 72, ../sass/_utils.scss */
.mb10 {
  margin-bottom: 0.625rem !important;
}

/* line 76, ../sass/_utils.scss */
.mb15 {
  margin-bottom: 0.9375rem !important;
}

/* line 80, ../sass/_utils.scss */
.mb20 {
  margin-bottom: 1.25rem !important;
}

/* line 84, ../sass/_utils.scss */
.mb25 {
  margin-bottom: 1.5625rem !important;
}

/* line 88, ../sass/_utils.scss */
.mb30 {
  margin-bottom: 1.875rem !important;
}

/* line 93, ../sass/_utils.scss */
.ml0 {
  margin-left: 0 !important;
}

/* line 97, ../sass/_utils.scss */
.ml5 {
  margin-left: 0.3125rem !important;
}

/* line 101, ../sass/_utils.scss */
.ml10 {
  margin-left: 0.625rem !important;
}

/* line 105, ../sass/_utils.scss */
.ml15 {
  margin-left: 0.9375rem !important;
}

/* line 109, ../sass/_utils.scss */
.ml20 {
  margin-left: 1.25rem !important;
}

/* line 113, ../sass/_utils.scss */
.ml25 {
  margin-left: 1.5625rem !important;
}

/* line 117, ../sass/_utils.scss */
.ml30 {
  margin-left: 1.875rem !important;
}

/* line 122, ../sass/_utils.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 126, ../sass/_utils.scss */
.mt5 {
  margin-top: 0.3125rem !important;
}

/* line 130, ../sass/_utils.scss */
.mt10 {
  margin-top: 0.625rem !important;
}

/* line 134, ../sass/_utils.scss */
.mt15 {
  margin-top: 0.9375rem !important;
}

/* line 138, ../sass/_utils.scss */
.mt20 {
  margin-top: 1.25rem !important;
}

/* line 142, ../sass/_utils.scss */
.mt25 {
  margin-top: 1.5625rem !important;
}

/* line 146, ../sass/_utils.scss */
.mt30 {
  margin-top: 1.875rem !important;
}

/* line 151, ../sass/_utils.scss */
.p0 {
  padding: 0 !important;
}

/* line 155, ../sass/_utils.scss */
.p5 {
  padding: 0.3125rem !important;
}

/* line 159, ../sass/_utils.scss */
.p10 {
  padding: 0.625rem !important;
}

/* line 163, ../sass/_utils.scss */
.p15 {
  padding: 0.9375rem !important;
}

/* line 167, ../sass/_utils.scss */
.p20 {
  padding: 1.25rem !important;
}

/* line 171, ../sass/_utils.scss */
.p25 {
  padding: 1.5625rem !important;
}

/* line 175, ../sass/_utils.scss */
.p30 {
  padding: 1.875rem !important;
}

/* line 180, ../sass/_utils.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 184, ../sass/_utils.scss */
.pr5 {
  padding-right: 0.3125rem !important;
}

/* line 188, ../sass/_utils.scss */
.pr10 {
  padding-right: 0.625rem !important;
}

/* line 192, ../sass/_utils.scss */
.pr15 {
  padding-right: 0.9375rem !important;
}

/* line 196, ../sass/_utils.scss */
.pr20 {
  padding-right: 1.25rem !important;
}

/* line 200, ../sass/_utils.scss */
.pr25 {
  padding-right: 1.5625rem !important;
}

/* line 204, ../sass/_utils.scss */
.pr30 {
  padding-right: 1.875rem !important;
}

/* line 209, ../sass/_utils.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 213, ../sass/_utils.scss */
.pb5 {
  padding-bottom: 0.3125rem !important;
}

/* line 217, ../sass/_utils.scss */
.pb10 {
  padding-bottom: 0.625rem !important;
}

/* line 221, ../sass/_utils.scss */
.pb15 {
  padding-bottom: 0.9375rem !important;
}

/* line 225, ../sass/_utils.scss */
.pb20 {
  padding-bottom: 1.25rem !important;
}

/* line 229, ../sass/_utils.scss */
.pb25 {
  padding-bottom: 1.5625rem !important;
}

/* line 233, ../sass/_utils.scss */
.pb30 {
  padding-bottom: 1.875rem !important;
}

/* line 238, ../sass/_utils.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 242, ../sass/_utils.scss */
.pl5 {
  padding-left: 0.3125rem !important;
}

/* line 246, ../sass/_utils.scss */
.pl10 {
  padding-left: 0.625rem !important;
}

/* line 250, ../sass/_utils.scss */
.pl15 {
  padding-left: 0.9375rem !important;
}

/* line 254, ../sass/_utils.scss */
.pl20 {
  padding-left: 1.25rem !important;
}

/* line 258, ../sass/_utils.scss */
.pl25 {
  padding-left: 1.5625rem !important;
}

/* line 262, ../sass/_utils.scss */
.pl30 {
  padding-left: 1.875rem !important;
}

/* line 267, ../sass/_utils.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 271, ../sass/_utils.scss */
.pt5 {
  padding-top: 0.3125rem !important;
}

/* line 275, ../sass/_utils.scss */
.pt10 {
  padding-top: 0.625rem !important;
}

/* line 279, ../sass/_utils.scss */
.pt15 {
  padding-top: 0.9375rem !important;
}

/* line 283, ../sass/_utils.scss */
.pt20 {
  padding-top: 1.25rem !important;
}

/* line 287, ../sass/_utils.scss */
.pt25 {
  padding-top: 1.5625rem !important;
}

/* line 291, ../sass/_utils.scss */
.pt30 {
  padding-top: 1.875rem !important;
}

/********
* Fonts *
*********/
/* line 300, ../sass/_utils.scss */
.fw100 {
  font-weight: 100 !important;
}

/* line 304, ../sass/_utils.scss */
.fw200 {
  font-weight: 200 !important;
}

/* line 308, ../sass/_utils.scss */
.fw300 {
  font-weight: 300 !important;
}

/* line 312, ../sass/_utils.scss */
.fw400 {
  font-weight: 400 !important;
}

/* line 316, ../sass/_utils.scss */
.fw500 {
  font-weight: 500 !important;
}

/* line 320, ../sass/_utils.scss */
.fw600 {
  font-weight: 600 !important;
}

/* line 324, ../sass/_utils.scss */
.fw700 {
  font-weight: 700 !important;
}

/* line 329, ../sass/_utils.scss */
.fs10 {
  font-size: 0.625rem !important;
}

/* line 333, ../sass/_utils.scss */
.fs11 {
  font-size: 0.6875rem !important;
}

/* line 337, ../sass/_utils.scss */
.fs12 {
  font-size: 0.75rem !important;
}

/* line 341, ../sass/_utils.scss */
.fs13 {
  font-size: 0.8125rem !important;
}

/* line 345, ../sass/_utils.scss */
.fs14 {
  font-size: 0.875rem !important;
}

/* line 349, ../sass/_utils.scss */
.fs15 {
  font-size: 0.9375rem !important;
}

/* line 353, ../sass/_utils.scss */
.fs16 {
  font-size: 1rem !important;
}

/* line 357, ../sass/_utils.scss */
.fs17 {
  font-size: 1.0625rem !important;
}

/* line 361, ../sass/_utils.scss */
.fs18 {
  font-size: 1.125rem !important;
}

/* line 365, ../sass/_utils.scss */
.fs19 {
  font-size: 1.1875rem !important;
}

/* line 369, ../sass/_utils.scss */
.fs20 {
  font-size: 1.25rem !important;
}

/* line 373, ../sass/_utils.scss */
.fs21 {
  font-size: 1.3125rem !important;
}

/* line 377, ../sass/_utils.scss */
.fs22 {
  font-size: 1.375rem !important;
}

/* line 381, ../sass/_utils.scss */
.fs23 {
  font-size: 1.4375rem !important;
}

/* line 385, ../sass/_utils.scss */
.fs24 {
  font-size: 1.5rem !important;
}

/* line 389, ../sass/_utils.scss */
.fs25 {
  font-size: 1.5625rem !important;
}

/* line 393, ../sass/_utils.scss */
.fs26 {
  font-size: 1.625rem !important;
}

/* line 397, ../sass/_utils.scss */
.fs27 {
  font-size: 1.6875rem !important;
}

/* line 401, ../sass/_utils.scss */
.fs28 {
  font-size: 1.75rem !important;
}

/* line 405, ../sass/_utils.scss */
.fs29 {
  font-size: 1.8125rem !important;
}

/* line 409, ../sass/_utils.scss */
.fs30 {
  font-size: 1.875rem !important;
}

/* line 413, ../sass/_utils.scss */
.fs31 {
  font-size: 1.9375rem !important;
}

/* line 417, ../sass/_utils.scss */
.fs32 {
  font-size: 2rem !important;
}

/* line 421, ../sass/_utils.scss */
.fs33 {
  font-size: 2.0625rem !important;
}

/* line 425, ../sass/_utils.scss */
.fs34 {
  font-size: 2.125rem !important;
}

/* line 429, ../sass/_utils.scss */
.fs35 {
  font-size: 2.1875rem !important;
}

/* line 433, ../sass/_utils.scss */
.fs36 {
  font-size: 2.25rem !important;
}

/* line 437, ../sass/_utils.scss */
.fs37 {
  font-size: 2.3125rem !important;
}

/* line 441, ../sass/_utils.scss */
.fs38 {
  font-size: 2.375rem !important;
}

/* line 445, ../sass/_utils.scss */
.fs39 {
  font-size: 2.4375rem !important;
}

/* line 449, ../sass/_utils.scss */
.fs40 {
  font-size: 2.5rem !important;
}

/* line 1, ../sass/_layout.scss */
.getRandomNumber,
.newGame {
  font-size: 28px;
}

/* line 6, ../sass/_layout.scss */
.currentNumber {
  display: block;
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #c0392b;
  text-align: center;
  line-height: 150px;
  font-weight: 600;
  font-size: 68px;
  color: #ecf0f1;
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}
/* line 20, ../sass/_layout.scss */
.currentNumber.start {
  width: 100%;
  height: auto;
  background: transparent;
  color: #c0392b;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 29, ../sass/_layout.scss */
.allNumbers {
  text-align: center;
}
/* line 32, ../sass/_layout.scss */
.allNumbers span {
  display: inline-block;
  margin: 0 15px 15px 0;
  width: 50px;
  height: 50px;
  background: #ecf0f1;
  line-height: 50px;
  font-size: 28px;
  color: #34495e;
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}
/* line 44, ../sass/_layout.scss */
.allNumbers span:last-child {
  margin-right: 0;
}
